.loginCard {
    margin: 0 auto;
    margin-top: 20vh;
    width: 70%;
    // justify-content: center;
    // flex-shrink: 0;
}

.container {
    // justify-content: center;
    // display: flex;
    // align-items: center;
    // height: 100%;
}

// .fullRow { 
//     margin: auto;
// }
