.toggleToken {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 2px;
    min-width: 8rem;
    max-width: 8rem;
    font-weight: 0.6em;
    border-radius: 4px;
}

.inactive {
    color: #000000;
    background: #c4c4c4;
}

.active {
    color: #ffffff;
    background: #0075F2;
}